<h1>Convert Dollar Amounts</h1>

<h2>Description</h2>

You are given a positive integer number. This represents the sales made that day in your department store.
<br>
The payables department however, needs this printed out in English.
<br>
<br>
NOTE: The correct spelling of 40 is Forty. (NOT Fourty)

<h2>Input</h2>
Your program should read lines of text from standard input. Each line contains a positive integer.

<h2>Output</h2>
For each set of input print a single line to standard output which is the english textual representation of that
<br>
integer. The output should be unspaced and in CamelCased. Always assume plural quantities. You can also
<br>
assume that the numbers are < 1000000000 (1 billion). In case of ambiguities eg. 2200 could be
<br>
TwoThousandTwoHundredDollars or TwentyTwoHundredDollars, always choose the representation with the
<br> larger base i.e. TwoThousandTwoHundredDollars
<br>
<br>
<table>
  <tr>
    <th>Test</th>
    <th>Expected Output</th>
  </tr>
  <tr>
    <td>3</td>
    <td>ThreeDollars</td>
  </tr>
  <tr>
    <td>466</td>
    <td>FourHundredSixtySixDollars</td>
  </tr>
  <tr>
    <td>1234</td>
    <td>OneThousandTwoHundredThirtyFourDollars</td>
  </tr>
  <tr>
    <td>10</td>
    <td>TenDollars</td>
  </tr>
  <tr>
    <td>21</td>
    <td>TwentyOneDollars</td>
  </tr>
</table>

<h2>Solution</h2>
<convert-dollar-amount></convert-dollar-amount>
